@import "https://fonts.googleapis.com/css?family=Lato";
html {
  margin: 0;
  height: 100%;
  font-family: "Lato", sans-serif; }

body {
  margin: 0;
  height: 100%;
  font-family: "Lato", sans-serif; }

section {
  position: relative;
  height: 100%;
  margin-top: 0;
  text-align: center; }
  section .parallax-1 {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden; }
    section .parallax-1 .new-parallax {
      height: 100%;
      width: 100%;
      position: relative;
      background-color: #ff414b;
      background-image: url(../image/a22.jpg);
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      display: flex; }
      section .parallax-1 .new-parallax .nav {
        height: 100%;
        width: 45px;
        padding-top: 20px;
        padding-left: 15px; }
        section .parallax-1 .new-parallax .nav .col {
          display: block;
          float: left;
          margin: 1% 0 1% 1.6%; }
          section .parallax-1 .new-parallax .nav .col:first-of-type {
            margin-left: 0; }
        section .parallax-1 .new-parallax .nav .hamburger {
          z-index: 999999;
          position: fixed; }
          section .parallax-1 .new-parallax .nav .hamburger .line {
            width: 30px;
            height: 5px;
            background-color: #ECECEC;
            display: block;
            margin: 8px auto;
            -webkit-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            z-index: 999999; }
          section .parallax-1 .new-parallax .nav .hamburger:hover {
            cursor: pointer; }
        section .parallax-1 .new-parallax .nav #hamburger-6.is-active {
          -webkit-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          -webkit-transition-delay: 0.6s;
          -o-transition-delay: 0.6s;
          transition-delay: 0.6s;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg); }
          section .parallax-1 .new-parallax .nav #hamburger-6.is-active .line:nth-child(2) {
            width: 0px; }
          section .parallax-1 .new-parallax .nav #hamburger-6.is-active .line:nth-child(1) {
            -webkit-transition-delay: 0.3s;
            -o-transition-delay: 0.3s;
            transition-delay: 0.3s;
            -webkit-transform: translateY(13px);
            -ms-transform: translateY(13px);
            -o-transform: translateY(13px);
            transform: translateY(13px); }
          section .parallax-1 .new-parallax .nav #hamburger-6.is-active .line:nth-child(3) {
            -webkit-transition-delay: 0.3s;
            -o-transition-delay: 0.3s;
            transition-delay: 0.3s;
            -webkit-transform: translateY(-13px) rotate(90deg);
            -ms-transform: translateY(-13px) rotate(90deg);
            -o-transform: translateY(-13px) rotate(90deg);
            transform: translateY(-13px) rotate(90deg); }
      section .parallax-1 .new-parallax .type-wrap {
        width: 50%;
        color: #ffffff;
        text-align: left;
        margin: auto; }
        section .parallax-1 .new-parallax .type-wrap h2 {
          text-shadow: 0 1px 1px #000; }
        section .parallax-1 .new-parallax .type-wrap #typed {
          font-size: 80px;
          font-family: "Lato", sans-serif;
          font-weight: 200;
          text-shadow: 0 2px 2px #000; }
        section .parallax-1 .new-parallax .type-wrap .about-1 {
          font-size: 17px;
          text-shadow: 0 1px 1px #000; }
      section .parallax-1 .new-parallax #sidebar {
        animation-duration: .2s;
        background: #fff;
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1; }
        section .parallax-1 .new-parallax #sidebar ul {
          display: table;
          position: relative;
          width: 100%;
          padding-left: 0;
          padding-top: 120px; }
          section .parallax-1 .new-parallax #sidebar ul li {
            border-style: none;
            display: table;
            font-size: 40px;
            font-weight: 600;
            height: 60px;
            margin-bottom: 5px;
            width: 100%;
            color: #ff414b; }
            section .parallax-1 .new-parallax #sidebar ul li a {
              background-color: rgba(84, 106, 123, 0);
              color: inherit;
              display: table-cell;
              height: 100%;
              padding-left: 1.2em;
              text-decoration: none;
              transform: translate(-5px, 0);
              transition: .6s ease-out;
              vertical-align: middle;
              width: 100%; }
              section .parallax-1 .new-parallax #sidebar ul li a:hover {
                color: #151515 !important;
                transform: translate(5px, 0);
                transition: .2s linear; }

.hidden {
  display: none; }

.about-me {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #ffffff;
  display: flex; }
  .about-me .container-left {
    margin: auto;
    width: 50%;
    background-color: #ffffff;
    padding: 0 50px 0 50px; }
  .about-me .container-right {
    width: 50%;
    padding: 0 50px 0 50px;
    margin: auto;
    background-color: #ffffff; }
    .about-me .container-right a {
      text-decoration: none; }
      .about-me .container-right a:hover {
        color: #F1A9A0;
        opacity: 0.3;
        transition: opacity 0.5s linear;
        animation-play-state: running;
        text-decoration: none; }
    .about-me .container-right .container-right-content {
      text-align: left; }
      .about-me .container-right .container-right-content h1 {
        text-shadow: 0 2px 2px #ECECEC; }

.skills-section {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  background-color: #b0bec5; }
  .skills-section .skills {
    margin: auto; }
  .skills-section .container {
    margin: auto;
    width: 90%; }
    .skills-section .container .headline {
      color: #ffffff;
      line-height: 80px;
      font-size: 2.5em;
      text-shadow: 0 2px 2px #7f8c8d; }
  .skills-section .skills-row {
    display: flex;
    margin: 20px auto;
    width: 90%; }
  .skills-section .center {
    text-align: center; }
    .skills-section .center ul {
      padding: 0; }
      .skills-section .center ul li {
        list-style-type: none; }
        .skills-section .center ul li img {
          margin: 10px;
          width: 50%; }
  .skills-section .skills-white {
    color: #ffffff; }

main {
  width: 70%;
  margin: 5em auto; }
  main .my-project {
    font-size: 60px;
    color: #ECECEC;
    padding-top: 20px;
    text-shadow: 0 2px 2px #7f8c8d; }
  main .about-my-project {
    font-size: 21px;
    color: #ECECEC;
    padding: 20px; }
  main .img-center {
    margin-bottom: 100px;
    padding: 30px; }
    main .img-center h3 {
      font-size: 42px;
      text-shadow: 0 2px 2px #ffffff; }
    main .img-center p {
      font-weight: 300;
      line-height: 150%; }
    main .img-center .button {
      width: 260px;
      height: 50px;
      margin-left: auto;
      margin-right: auto; }
      main .img-center .button .demo {
        width: 40px;
        height: 28px;
        padding: 10px 2px 2px 2px;
        background-color: #7f8c8d;
        border-radius: 16px;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        text-decoration: none;
        margin-left: 20px;
        margin-right: 10px;
        width: 40%;
        float: left;
        color: #ECECEC; }
        main .img-center .button .demo:hover {
          background-color: #ECECEC;
          color: #7f8c8d; }
      main .img-center .button .source {
        width: 40px;
        height: 28px;
        padding: 10px 2px 2px 2px;
        background-color: #7f8c8d;
        border-radius: 16px;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        text-decoration: none;
        margin: 0 auto;
        width: 40%;
        float: left;
        color: #ECECEC; }
        main .img-center .button .source:hover {
          background-color: #ECECEC;
          color: #7f8c8d; }

.contact {
  height: 100vh;
  width: 100%;
  overflow: hidden; }
  .contact .contact-content {
    height: 100%;
    width: 100%;
    background-color: #ff414b;
    display: flex; }
  .contact .box-center {
    width: 50%;
    margin: auto;
    color: #ffffff; }
    .contact .box-center .contact-h1 {
      font-size: 36px;
      font-weight: 200;
      color: #ECECEC;
      text-shadow: 0 2px 2px #7f8c8d; }
  .contact .icon {
    width: 50%;
    display: inline; }
  .contact .image {
    width: 30%;
    display: inline-block; }
    .contact .image a {
      text-decoration: none; }
      .contact .image a:hover {
        color: #F1A9A0;
        opacity: 0.3;
        transition: opacity 0.5s linear;
        animation-play-state: running;
        text-decoration: none; }

#number {
  display: none;
  font-size: 20px;
  color: #ffffff;
  text-decoration: none; }

a {
  text-decoration: none; }

img {
  width: 90%; }

.logo {
  height: 10%;
  width: 10%; }

.logo-logo {
  text-shadow: 0 2px 2px #000;
  float: right; }

.diagonal-bg {
  position: fixed;
  top: 0;
  z-index: -222222;
  width: 100%;
  height: 100%; }

@media (max-width: 400px) {
  main {
    width: 100%; }

  .new-parallax {
    width: 100%;
    position: relative;
    background-color: #1d1d1d;
    display: flex;
    background-image: url(../image/a22.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex; }

  #typed {
    font-size: 30px; }

  .contact .box-center {
    width: 57%;
    margin: auto;
    color: #ffffff; }

  section .parallax-1 .new-parallax .type-wrap {
    width: 100%;
    color: #ffffff;
    text-align: left;
    margin: auto; }

  .about-me {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #ffffff;
    display: inline-block; }
    .about-me .container-right {
      width: 100%;
      padding: 0; }
    .about-me .container-right .container-right-content {
      text-align: center;
      padding: 5px 40px; }
      .about-me .container-right .container-right-content h1 {
        font-size: 25px; }
      .about-me .container-right .container-right-content p {
        font-size: 11px; }
    .about-me .container-left {
      padding: 15px 50px 0 50px; }

  .skills-section .center ul li img {
    margin: 10px;
    width: 80%; }

  .contact .icon {
    width: 100%;
    display: inline; } }

/*# sourceMappingURL=style.css.map */
